@use "../../styles/partials/global";
@use "../../styles/partials/media-queries" as *;
@use "../../styles/partials/variables" as *;

.featuredProducts {
  @extend .container;

  &-largeCard {
    background-color: $main-color;
    border-radius: 0.8rem;
    position: relative;
    overflow: hidden;

    &__background-pattern {
      position: absolute;
      top: -13rem;
      max-width: none;
      width: 60rem;
      left: 50%;
      transform: translateX(-50%);

      @include tablet {
        width: 90rem;
        top: initial;
        bottom: -30rem;
        left: 30%;
        transform: translateX(-50%);
      }
    }

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3.2rem;
      padding: 5.5rem 0;
      position: relative;

      @include tablet {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0;
        height: 56rem;
        justify-items: center;
      }
    }

    &__text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3.2rem;

      @include tablet {
        gap: 2.4rem;
        align-items: start;
      }
    }

    &__image {
      content: url("../../assets/images/home/mobile/image-speaker-zx9.png");
      max-width: 17.2248rem;
      max-height: 20.7rem;
      flex-shrink: 0;

      @include tablet {
        content: url("../../assets/images/home/tablet/image-speaker-zx9.png");
        max-width: 40rem;
        max-height: 49rem;
        flex-shrink: 0;
        justify-self: end;
        align-self: flex-end;
        position: relative;
        z-index: 0;
        margin-bottom: -9px;
      }
    }

    &__title {
      color: $text-light-color;
      width: 20rem;
      text-align: center;
      @include tablet {
        text-align: left;
      }
    }

    &__text {
      color: $text-light-color;
      max-width: 28rem;
      text-align: center;
      opacity: 0.75;

      @include tablet {
        text-align: left;
      }
    }

    &__button {
      @extend .button2--inverted;
    }
  }
}
