@use "../../styles/partials/global";
@use "../../styles/partials/media-queries" as *;
@use "../../styles/partials/variables" as *;

.categoriesPage {
  &__hero {
    background-color: $text-dark-color;

    &-container {
      @extend .container;
      color: $text-light-color;
      display: flex;
      padding: 3.2rem 0;
      justify-content: center;

      @include tablet {
        padding: 9.8rem 0;
      }
    }
  }
}

.productCards {
  @extend .container;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12rem;
  margin: 6.4rem auto 19.2rem;

  @include tablet {
    margin: 12rem auto;
  }

  @include desktop {
    gap: 16rem;
    margin: 16rem auto;
  }
}
