// Media Queries

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// // Colors

// Primary Colors //
$main-color: #d87d4a;
$main-light-color: #fbaf85;
$images-background: #f1f1f1;
$checkout-background: #fafafa;
$text-dark-color: #000000;
$text-light-color: #ffffff;
$footer-color: #101010;
