@use "../../styles/partials/media-queries" as *;
@use "../../styles/partials/variables" as *;

header {
  background-color: black;
}

.navBar {
  height: 8.9rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  column-gap: 4.2rem;
  align-items: center;
  border-bottom: 1px rgba($color: #ffffff, $alpha: 0.104) solid;

  &__hamburger-menu {
    cursor: pointer;

    @include tablet {
      width: 1.6rem;
      height: 1.5rem;
      flex-shrink: 0;
      cursor: pointer;
    }

    @include desktop {
      display: none;
    }
  }

  &__logo {
    width: 14.3rem;
    height: 2.5rem;
    flex-shrink: 0;
    justify-self: center;
    cursor: pointer;

    @include tablet {
      justify-self: flex-start;
    }
  }

  &__desktop {
    &-menu {
      display: none;
      @include desktop {
        display: flex;
        list-style: none;
        padding: 0;
        gap: 3.4rem;
        justify-self: center;
      }

      &-link {
        color: #fff;
        font-family: Manrope;
        font-size: 1.3rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.5rem;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          color: #d87d4a;
        }

        &--active {
          @extend .navBar__desktop-menu-link;
          color: #d87d4a;
        }
      }
    }
  }
  &__checkoutCart {
    cursor: pointer;
    justify-self: end;

    @include tablet {
      justify-self: flex-end;
    }
  }
}
