@use "../../styles/partials/variables" as *;
@use "../../styles/partials/media-queries" as *;
@use "../../styles/partials/global";

.productCategories {
  background-color: white;
  position: relative;
  padding-bottom: 5.3rem;

  &__container {
    @extend .container;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
}
